body {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.link-btns {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0.5em;
}

.link-btns > a {
  color: #fff;
  text-shadow: 0 0 10px #000;
  text-decoration: none;
  margin: 0 0.5em;
  font-size: 1.7em;
}
