body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #1672fd91;
}

.game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.game-section > canvas {
  border: 1px solid #000;
  border-radius: 20px;
  height: 600px;
}

.score-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.score-section > h1 {
  font-size: 30px;
  margin: 3px;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  max-width: 350px;
  width: 90%;
}

.game-direction-btn {
  margin: 5px;
  padding: 10px;
  width: 50%;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.game-section > .btns > button:hover {
  background-color: #000;
  color: #fff;
  scale: 1.05;
  box-shadow: 0 0 10px #000;
  transition: 0.3s;
}

.game-section > .btns > button:disabled {
  background-color: #ccc;
  color: #000;
  cursor: not-allowed;
}

.game-section > .btns > button:disabled:hover {
  background-color: #ccc;
  color: #000;
  cursor: not-allowed;
  scale: 1;
  box-shadow: none;
}

.game-section > .start-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  transition: 0.3s;
}

.game-section > .start-button:hover {
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 10px #000;
  scale: 1.1;
  transition: 0.3s;
}

/* when the button is disabled */
.game-section > .start-button:disabled {
  background-color: #ccc;
  color: #000;
  cursor: not-allowed;
}

/* when the button is disabled on hover */
.game-section > .start-button:disabled:hover {
  background-color: #ccc;
  color: #000;
  cursor: not-allowed;
  box-shadow: none;
  scale: 1;
}

/* media query max-height */
@media screen and (max-height: 850px) {
  .game-section > canvas {
    height: 500px;
  }
}

@media screen and (max-height: 700px) {
  .game-section > canvas {
    height: 400px;
  }
}

@media screen and (max-height: 600px) {
  .game-section > canvas {
    height: 300px;
  }
}

@media screen and (max-height: 500px) {
  .game-section > canvas {
    height: 200px;
  }
}

@media screen and (max-height: 400px) {
  .game-section > canvas {
    height: 100px;
  }
}
