.what-is-it-section {
  background-image: url("../../assets/bgs/Charity_Box_GIF_16-9.gif");
  background-size: cover;
  background-position: center;
  min-height: 870px;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.what-is-it-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.what-is-it-content > h2 {
  font-size: 3em;
  text-shadow: 0 0 10px #000;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 120px;
}

.what-is-it-content > .description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
}

.what-is-it-content > .description > p {
  font-size: 2em;
  color: #fff;
  text-shadow: 0 0 10px #000;
  width: 50%;
  margin-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 40px;
}

.description > img {
  width: 570px;
  height: 600px;
  margin-left: 100px;
  margin-top: -40px;
}
